DOCO_CD_HOST=doco-cd.mv-angelbachtal.de
GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY=
WEBHOOK_SECRET=
GIT_COMMIT_STATUS=true

AUTHENTIK_PG_PASS=
AUTHENTIK_SECRET_KEY=
MONITORING_GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET=
MONITORING_SCP_REFRESHTOKEN=
MONITORING_UMAMI_DB_PASSWORD=
NGINX_LETSENCRYPT_CLOUDFLARE_DNS_TOKEN=
UMAMI_APP_SECRET=
UMAMI_DATABASE_URL=
UMAMI_POSTGRES_PASSWORD=
MUSIC_TOGETHER_OIDC_CLIENT_SECRET=
MUSIC_TOGETHER_YOUTUBE_API_KEY=
NEXTCLOUD_AIO_DATABASE_PASSWORD=
NEXTCLOUD_AIO_FULLTEXTSEARCH_PASSWORD=
NEXTCLOUD_AIO_NEXTCLOUD_PASSWORD=
NEXTCLOUD_AIO_ONLYOFFICE_SECRET=
NEXTCLOUD_AIO_REDIS_PASSWORD=
NEXTCLOUD_AIO_TALK_INTERNAL_SECRET=
NEXTCLOUD_AIO_WHITEBOARD_SECRET=
